.main-footer{
  flex: 0 0 auto;
  padding: 2rem 1rem;
  position: relative;
  z-index: 2;

  .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // .contact__question
    &__question{
      margin: 0 0 .5rem;
    }

    // .contact__cta
    &__cta{
      margin: 0 0 3rem;
      text-transform: uppercase;
      letter-spacing: .0625rem;
    }

    // .contact__email
    &__email{
      margin: 2rem 0 0;
      &.marked{
        &:before{
          width: 7.5rem;
        }
      }
    }
  }
}