.marked{
  position: relative;
  display: inline-block;
  z-index: 1;

  &:hover{
	&:before{
	  height: .125rem;
	}
  }

  &:before{
	transition: transition(height);
	content: '';
	z-index: -2;
	position: absolute;
	display: block;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background-color: $color-red-500;
  }
}